

.task_value {
    width: 300px;
    height: 100px;
    position: fixed;
    top:50px;
    left: 50%;
    transform: translateX(-50%);
}

.task_value::placeholder {
    text-align: center;
    color: rgb(63, 162, 189);
}


#submit_next {
    width: 200px;
    position: fixed;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}


#category {
    position: fixed;
    bottom: 30px;
    right: 30px;
    transform: translate(50%, 50%);
}

#category {
    width: 100px;
    height: 30px;
    position: fixed;
    top:180px;
    left: 58%;
    transform: translateX(-50%);
}