.sidebar {
    width: 0; /* 初期状態では非表示 */
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.3s; /* トランジション時間 */
}

.sidebar.open {
    width: 250px; /* 展開時の幅 */
}
