#submit_next {
    width: 200px;
    position: fixed;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

#strat_date{
    position: fixed;
    top:15%;
    left: 50%;
    transform: translateX(-50%);
}

#next{
    margin-left: 90px;
    margin-top: 10px;
}

#prev{
    margin-top: 10px;
}


h3 {
    width: 100%;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    text-align: center; 
}



#calendar {
    display: flex;
    flex-wrap: wrap;
}

section {
    margin: 10px;
}

h1 {
    font-size: 18px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

td:first-child {
    color: red;
}

td:last-child {
    color: royalblue;
}

td.is-disabled {
    color: #ccc;
}